<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
        <div  *ngFor="let styles of item" [style.background]="stylea">
            <div  *ngFor="let stylesmenu of styles.stylesMenu" style="width: 2000px">
              
                <ion-col col-12 *ngFor="let itema of item"  >
                  <ion-col col-4 *ngFor="let itemb of itema.items" id="{{itemb.codigo}}2">
                    <!--{{itemb.codigo}}-->
                    <div class="itemsSub">
                      <button ion-button id="{{itemb.codigo}}" name="itemb.codigo" [style.background]="styleb" style="display:block" (click)="opensubmenu(itemb.codigo);orden(itemb.codigo);">{{itemb.nombre}} </button>
                          <div id="{{itemb.codigo}}4" class="itemsSub-content" style="display:none">
                            <div style="height: 30px;">About</div>
                            <div style="height: 30px;">Base</div>
                            <div style="height: 30px;">Blog</div>
                          </div>
                    </div>
                    </ion-col>
                </ion-col>
            
                <ion-col col-12 *ngFor="let itema of item" style="display:none" id="item1">
                  <ion-col col-4 *ngFor="let itemc of itema.items">
                    <div class="itemsSub">
                      <button id="{{itemc.codigo}}1" name="{{itemc.codigo}}" ion-button  (click)="opensubmenu(itemc.codigo);orden(itemc.codigo);">{{itemc.nombre}}</button>
                      <div id="{{itemc.codigo}}3" class="itemsSub-content" style="display:none">
                        <div style="height: 30px;">About</div>
                        <div style="height: 30px;">Base</div>
                        <div style="height: 30px;">Blog</div>
                      </div>
                    </div>
                  </ion-col>
                </ion-col>
                
              </div>
            </div>   
            
        </ion-row>
      </ion-grid>
      
</ion-content>
