page-home {

    .buttonCust{
        height: 50px;
        width: 250px;
    }
    .itemsSub {
        position: relative;
        display: inline-block;
    }
    
    .itemsSub-content {
        font-size: large;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 150px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }
    .itemsSub-content div:hover{background-color: #CD5C5C;color:white}
}
